{% extends 'base.html' %}
{% load static %}
{% block title %}Вход{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="auth-card">
        <h2 class="auth-title">Вход</h2>
        <form method="post" class="auth-form">
            {% csrf_token %}
            <div class="form-wrapper">
                {{ form.as_p }}
            </div>
            {% load socialaccount %}
            <h3>Войти через соцсети:</h3>
            <a href="{% provider_login_url 'github' %}" class="btn btn-dark">GitHub</a>
            {% if form.non_field_errors %}
                <div class="error-list non-field">
                    {% for error in form.non_field_errors %}
                        <small class="error">{{ error }}</small>
                    {% endfor %}
                </div>
            {% endif %}
            <button type="submit" class="btn btn-primary btn-block">Войти</button>
        </form>
        <p class="auth-footer">
            Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a>
        </p>
    </div>
</div>
{% endblock %}
